[submodule "riscv-binutils"]
	path = riscv-binutils
	url = https://github.com/XUANTIE-RV/binutils-gdb.git
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = https://github.com/scpcom/riscv-gcc.git
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = https://github.com/XUANTIE-RV/glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv-collab/riscv-dejagnu.git
	branch = riscv-dejagnu-1.6
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/XUANTIE-RV/newlib.git
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = https://github.com/XUANTIE-RV/binutils-gdb.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/XUANTIE-RV/qemu.git
